{
  "extends": ["plugin:vue-libs/recommended"],
  "plugins": ["markdown", "react"],
  "rules": {
    "no-unused-vars": 0,
    "no-undef": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
